html {
  scroll-behavior: smooth;
}
body {
  background-color: rgba(231, 231, 231, 0.416);
}
.header {
  max-width: 1200px;
  margin: 20px auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}
/* .container {
  margin-left: auto;
  margin-right: auto;
} 

header .container {
  display: flex;
 /*  align-items: center; */


.nav__menu {
  display: flex;
 /*  align-items: center; */
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.nav__menu-item {
  padding-left: 35px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  color: black;
  position: relative;
}
.nav__menu-item:hover {
  color: rgb(110, 148, 148);
}
.header__logo {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: oblique;
  font-weight: 550;
  font-size: 25px;
  margin-right: auto;
}
span {
  color: rgb(110, 148, 148);
}
.nav__menu-foto {
  padding-left: 25px;
}

.container {
  background-image: url(./img/2023-06-16\ \(6\).png);
  background-size: cover;
  max-width: 100%;
  height: 100vh;
 padding-top: 100px;
  overflow: hidden;
  position: relative;
  padding-left: 150px;
}
.first__topic {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 72px;
  color: rgb(255, 226, 189);
  font-weight: 600;
  line-height: 110px;
  animation: f-top 1s linear 1;
}
@keyframes f-top {
    0% {
      padding-top: 110px;
      opacity: 0;
    }
}
.first__text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  max-width: 500px;
  font-style: italic;
  margin-top: 50px;
  animation: f-text 1s linear 1;
}
@keyframes f-text{
  0% {
    opacity: 0;
  }
}
.first__button {
  color: #fff;
  background-color: rgb(110, 148, 148);
  border-radius: 6px;
  font-size: 18px;
  margin-top: 40px;
  width: 150px;
  padding: 15px;
  text-align: center;
}

.input__button-1 {
  display: none;
}
.form {
  display: none;
  position: absolute;
  right: 5%;
  top: 5%;
}
.input__button-1[type="checkbox"]:checked ~ .form {
  display: block;
  animation: regist 1.5s linear alternate;
}
@keyframes regist {
  0% {
    top: 100%;
  }
}
.form_2 {
  width: 400px;
  height: 540px;
  background-color: rgba(110, 148, 148, 0.649);
  margin: 100px auto;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.form__topic {
  font-size: 35px;
  text-align: center;
  text-shadow: 0 0 10px #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form-control {
  background: transparent;
  border: 0;
  outline: none;
  padding: 20px 30px 0 3px;
  margin-left: 30px;
  color: #fff;
  margin-top: 5px;
  background-color: rgba(0, 255, 255, 0);
}
.form-label {
  position: absolute;
  left: 30px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  border-bottom: 1px solid #d0d0d0;
  width: 330px;
  padding-bottom: 25px;
}
.checkbox {
  padding-top: 40px;
  padding-left: 30px;
  color: #ffffff;
}
.box__button {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  background-color: #4a4a4a;
  width: 150px;
  font-size: 15px;
  font-style: italic;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
}
.box__button:hover {
  background-color: #3a3a3a;
  text-decoration: underline;
  box-shadow: 0 0 10px #2e2e2e;
}
.box_under {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  width: 450px;
}
.under_register {
  padding-left: 100px;
  cursor: pointer;
}

/* PART-2 */

.pin1 {
  display: flex;
  /*  flex-wrap: wrap; */
  justify-content: center;
  font-family: "Geologica", sans-serif;
  gap: 60px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);

}
.article {
  text-align: center;

  font-size: 40px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 5px 10px #0000006b;
}

.pin{
   width: 300px;
   margin-top: 80px;
   font-size: 13px;
   text-align: center;
   border-radius: 7px;
   border: solid black 1px;
   transition: transform 1s ;
   box-shadow: 2px 3px 7px black;
   padding-bottom: 10px;
   margin-bottom: 70px;
}
.pin:hover {
  transform: scale(1.07);
}
.text__pin {
  font-size: 15px;
  margin-top: 35px;
  line-height: 30px;
  padding: 0 20px;
}
main {
  background-color: rgb(141, 188, 188);
  max-width: 100%;
}
.knopka {
  border-radius: 21px;
  height: 30px;
  font-size: 12px;
  border-style: none;
  padding: 0 10px;
  font-style: italic;
}

.knopka:hover {
  background-color: black;
  color: white;
}
.topic__pin {
    font-size: 20px;
    padding-top: 15px;
    font-style: italic;
    font-weight: 600;
}

@media (max-width: 1200px) {
  .pin1 {
    flex-wrap: wrap;
  }
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 991px;
  }
  .first__contain {
    padding-left: 100px;
  }
  .info__flex-box {
    flex-direction: column;
  }
  .info__description {
    align-items: center;
  }
}
@media (max-width: 575px) {
  .first__contain {
    padding-left: 20px;
  }
  .container {
    max-width: 575px;
  }
  .first__topic {
    font-size: 35px;
    line-height: 40px;
  }
  .first__text {
    font-size: 15px;
  }
  .topic__pin {
    font-size: 17px;
  }
  .number-footer {
    display: none;
  }
  .container1 {
    gap: 20px;
  }
  .socialmedia {
    flex-direction: column;
    margin-left: 70px;
  }
  .lang {
    margin-left: 50px;
  }
  .footer-logo {
    
  }
  .footer-image {
    margin-left: -20px;
  }
  .info__image {
    width: 450px;
  }
  .pay-footer {
    display: none;
  }
  .privat {
    display: none;
  }

}
/* футер */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #444444;
}
.footer-logo {
  cursor: pointer;
  font-family: "Geologica", sans-serif;
  font-style: oblique;
  font-weight: 550;
  font-size: 30px;
  color: white;
  padding-left: 20px;
  margin: 0;
}
.lang {
  display: flex;
  gap: 50px;
  padding-left: 20px;
  margin-bottom: 0;
}
.lang-text {
  font-size: 30px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}
.hihihi {
  color: rgb(110, 148, 148);
}
.lang-text:hover {
  color: rgb(110, 148, 148);
}

.socialmedia {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  margin-top: 0;
}
.footer-list {
  display: flex;
  gap: 50px;
  flex-basis: calc((100% - 60px) / 3);
  flex-wrap: wrap;
}
footer {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}
.footer-link {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.footer-link:hover {
  text-decoration: underline;
}
.container2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.number-footer {
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
}
.number-footer:hover {
  color: rgb(22, 97, 182);
}
.footer-image {
  display: block;
  margin-top: 25px;
  margin-left: 50px;
}
.privatepolicy {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 34px;
  display: block;
  text-decoration: underline;
}
.privatepolicy:hover {
  color: rgb(22, 97, 182);
}

@media screen and (min-width: 320px) {
  /* і */
  
 /*  .pin {
    margin-left: auto;
    margin-right: auto;
  } */
 /*  footer .container {
    display: block;
  } */
}
/* @media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .nav__menu {
    display: none;
  }
} */
@media screen and (min-width: 1200px) {
  /*  .container {
    width: 1200px;
  }  */


  /* .lang-text {
    font-size: 30px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
 .hihihi{
    color: rgb(110, 148, 148);
    cursor: pointer;
} 
.lang-text:hover{
    color: rgb(110, 148, 148);
}
.socialmedia{
    display: flex;
    gap: 20px;
    padding-left: 10px;
    margin-top: 0;
  }
  .footer-list {
    display: flex;
    gap: 20px;
    flex-basis: calc((100% - 60px) / 3);
    flex-wrap: wrap;
  }
  footer .container {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  .footer-link {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.footer-link:hover{
    text-decoration: underline;
}
.container2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .number-footer {
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  }
  .number-footer:hover {
    color: rgb(22, 97, 182);
  }
  .footer-image {
    display: block;
    margin-top: 25px;
    margin-left: 50px;
  }
  .privatepolicy {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-top: 34px;
    display: block;
  }
  .privatepolicy:hover {
    color: rgb(22, 97, 182);
}
.footer-phone {
  padding-right: 15px;
} */
}
/* Part-3 */
.info__mini-title {
  font-style: italic;
}
.info__title {
}
.info__flex-box {
  display: flex;
}
.info__image {
}
.info__box {
}
.info__description {
  width: 350px;
  margin: 150px 120px 0px;
  font-size: 20px;
  align-items: left;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
.info__box__button {
  margin-left: 120px;
  cursor: pointer;
  margin-top: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 20px;
  background-color: rgba(110, 148, 148, 0.649);
}
.info__box__button:hover {
  background-color: rgba(133, 181, 181, 0.649);
}
.info {
  margin-left: 50px;
  margin-bottom: 150px;
}

/* Part-4 */

.partners-title {
  text-align: center;
  padding-top: 60px;
  font-size: 40px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 5px 10px #0000006b;
}
.partners-list {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  flex-wrap: wrap;
}
.partners-item {
}
.q {
  padding-top: 60px;
}
.partners-link {
}
.partners-image {
}
.partners-text {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  padding-bottom: 20px;
}
.w {
  padding-top: 82px;
}
.container4 {
}
.partners-button {
  margin-top: 50px;
  margin-left: 30px;
}

.partners {
  height: 100%;
}
.partners-button {
  position: fixed;
  left: 35%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.but__text{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.partners-button{
  position: relative;
  z-index: 2;
}

.partners-button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(102, 139, 139);
  transition: all .35s;
}

.but__text:hover{
  color: #fff;
  z-index: 5;
}

.partners-button:hover:after{
  width: 100%;
}