.container{
    // outline: solid red 10px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    @media screen and (max-width:1199px) {
        width: 767px;
    }

    @media screen and (max-width:767px) {
        width: 480px;
    }

    @media screen and (max-width:479px) {
        width: 320px;
    }
}

.hero{
    background-image: url(./../../img/2023-06-16\ \(6\).png);
}

.hero .container{
    padding-bottom: 40px;
}

